In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [ ]:
df = pd.read_csv('movie_bd_v5.csv')
df.sample(5)

In [ ]:
df.describe()

# Предобработка

In [ ]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [ ]:
df['profit'] = df.revenue - df.budget #Рассчитываем прибыль
df['month'] = pd.DatetimeIndex(df['release_date']).month #Добавляю колонку "месяц"

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [ ]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [ ]:
# тут пишем ваш код для решения данного вопроса:
max_df_1 = df[df['budget'] == df['budget'].max()] #Определяю максимум бюджета , нахожу запись, соответствующую максимуму
display(max_df_1['original_title'])

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [0]:
max_df_2 = df[df['runtime'] == df['runtime'].max()] #Определяю максимум времени , нахожу запись, соответствующую максимуму.
display(max_df_2['original_title'])

# 3. Какой из фильмов самый короткий (в минутах)?

In [0]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [ ]:
min_df_3 = df[df['runtime'] == df['runtime'].min()] #Определяю минимум времени , нахожу запись, соответствующую минимуму.
display(min_df_3['original_title'])

# 4. Какова средняя длительность фильмов?

In [0]:
answers['4'] = '2. 110'

In [ ]:
mean_df_4 = df['runtime'].mean() #Пользуюсь готовой функцией нахождения среднего. Применяю к колонке времени.
display(mean_df_4)

# 5. Каково медианное значение длительности фильмов?

In [0]:
answers['5'] = '1. 107'

In [ ]:
median_df_5 = df['runtime'].median() #Пользуюсь готовой функцией нахождения медианы. Применяю к колонке времени.
display(median_df_5)

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
answers['6'] = '5. Avatar (tt0499549)'

In [ ]:
profit_df_6 = df[df['profit'] == df['profit'].max()] #Определяю максимум прибыли , нахожу запись, соответствующую максимуму.
display(profit_df_6['original_title'])

# 7. Какой фильм самый убыточный?

In [0]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [1]:
profit_df_7 = df[df['profit'] == df['profit'].min()] #Определяю минимум прибыли , нахожу запись, соответствующую минимуму.
display(profit_df_7['original_title'])

NameError: name 'df' is not defined

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
answers['8'] = '1. 1478'

In [ ]:
profit_df_8 = df[df.revenue > df.budget] #оставляю только те фильмы , у которых сборы выше бюджета
display(profit_df_8.imdb_id.nunique()) #подсчет кол-ва фильмов

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [2]:
year_df_9 = df[(df['release_year'] == 2008)] #выбираю все фильмы 2008-го года выпуска
profit_df_9 = year_df_9[year_df_9['profit'] == year_df_9['profit'].max()] #Определяю максимум профита, нахожу запись, соответствующую максимуму.
display(profit_df_9['original_title'])

NameError: name 'df' is not defined

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [ ]:
year_df_10 = df[df['release_year'].between(2012, 2014)] # выбираю все фильмы 2012,-13,-14-ого года выпуска
profit_df_10 = year_df_10[year_df_10['profit'] == year_df_10['profit'].min()] #Определяю минимум прибыли , нахожу запись, соответствующую минимуму.
display(profit_df_10['original_title'])

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'

In [ ]:
data_11 = df.copy()
data_11['genres'] = data_11.genres.str.split('|') #Разбиваю жанры по принципу 1 строка - 1 запись
genres_11 = data_11.explode('genres')['genres'].to_list() #Перевожу колонку жанров в список
counter_11 = Counter(genres_11) #Определяю счетчик
print(counter_11.most_common(1)) #вывожу самое частое значение

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = '1. Drama'

In [ ]:
data_12 = df.copy()
profit_df_12 = df[df.profit > 0] #выбираю все фильмы, которые вышли в плюс за счет кассовых сборов
data_12['genres'] = df.genres.str.split('|') #Разбиваю жанры по принципу 1 строка - 1 запись
genres_12 = data_12.explode('genres')['genres'].to_list() #Перевожу колонку жанров в список
counter12 = Counter(genres_12) #Определяю счетчик
display(counter12.most_common(1)) #вывожу самое частое значение

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
answers['13'] = '5. Peter Jackson'

In [ ]:
data_13 = df.copy()
data_13['director'] = data_13.director.str.split('|') #Разбиваю режисеров по принципу 1 строка - 1 запись
data_13 = data_13.explode('director').groupby(['director']).sum().sort_values(by = 'revenue', ascending=False) #Группирую датасет по режисерам, суммирую все колонки
display(data_13)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [0]:
answers['14'] = '3. Robert Rodriguez'

In [ ]:
data_14 = df.copy()
data_14['genres'] = data_14.genres.str.split('|') #Разбиваю жанры по принципу 1 строка - 1 запись
data_14 = data_14.explode('genres') 
directors_14 = data_14[data_14['genres'] == 'Action']['director'].to_list() #Выбираю все фильмы жанра Action, перевожу колонку режисеры в список
counter14 = Counter(directors_14) #Определяю счетчик
display(counter14.most_common(5))

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
answers['15'] = '3. Chris Hemsworth'

In [ ]:
data_15 = df.copy()
profit_df_15 = data_15[data_15.release_year == 2012] #выбираю все фильмы 2012-го года выпуска
profit_df_15['cast'] = profit_df_15.cast.str.split('|') #Разбиваю актеров по принципу 1 строка - 1 запись
profit_df_15 = profit_df_15.explode('cast').groupby(['cast']).sum().sort_values(by = 'revenue', ascending=False) #Группирую по актерам, суммирую
display(profit_df_15)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [0]:
answers['16'] = '3. Matt Damon'

In [ ]:
profit_df_16 = df[df.budget > df.budget.mean()]
data_16 = profit_df_16.copy()
data_16['cast'] = data_16.cast.str.split('|') #выбираю все фильмы с бюджетом выше среднего
data_16 = data_16.explode('cast').groupby(['cast']).count().sort_values(by = 'revenue', ascending=False) #Разбиваю актеров по принципу 1 строка - 1 запись. Группирую по актерам, считаю кол-во в группе.
display(data_16)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [0]:
answers['17'] = '2. Action'

In [ ]:
data_17 = df.copy()
data_17['cast'] = data_17.cast.str.split('|') #Разбиваю актеров по принципу 1 строка - 1 запись
data_17['genres'] = data_17.genres.str.split('|') #Разбиваю жанры по принципу 1 строка - 1 запись
data_17 = data_17.explode('cast').explode('genres') 
genres_17 = data_17[(data_17['cast'] == 'Nicolas Cage')]['genres'].to_list() #Выбираю все, в которых участвовал Н.Кейдж. Перевожу колонку жанров в список.
counter17 = Counter(genres_17)
display(counter17.most_common(1))

# 18. Самый убыточный фильм от Paramount Pictures

In [0]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [ ]:
data_18 = df.copy()
data_18['production_companies'] = data_18.production_companies.str.split('|') #Разбиваю производителей по принципу 1 строка - 1 запись
data_18 = data_18.explode('production_companies')
data_18 = data_18[(data_18['production_companies'] == 'Paramount Pictures')].sort_values(by = 'profit', ascending=True) #Выбираю всех производства Paramount Pictures.Фильтрую по профиту по возрастающей
display(data_18.original_title.head(1))

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [0]:
answers['19'] = '5. 2015'

In [ ]:
data_19 = df.copy()
grouped_df_19 = data_19.groupby(['release_year'])['revenue'].sum().sort_values( ascending=False) #Группирую по годам, суммирую сборы. Сортирую по убывающей
display(grouped_df_19.head(1))

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
answers['20'] = '1. 2014'

In [ ]:
data_20 = df.copy()
data_20['production_companies'] = data_20.production_companies.str.split('|') #Разбиваю производителей по принципу 1 строка - 1 запись
data_20 = data_20.explode('production_companies')
data_20 = data_20[data_20['production_companies'].str.contains('Warner Bros', na=False)] #Выбираю всех производства Warner Bros
data_20 = data_20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False) #Группирую по годам, суммирую прибыль
display(data_20.head(1))

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
answers['21'] = '4. Сентябрь'

In [ ]:
data_21 = df.copy()
grouped_df_21 = data_21.groupby(['month'])['imdb_id'].count().sort_values(ascending=False) #группирую по месяцам, подсчитываю кол-во фильмов в каждой группе
display(grouped_df_21.head(1))

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
answers['22'] = '2. 450'

In [ ]:
data_22 = df.copy()
data_22 = data_22[data_22['month'].between(6,8)] #выбираю все летние фильмы
grouped_df_22 = data_22['imdb_id'].count() #подсчитываю общее кол-во
display(grouped_df_22)

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
answers['23'] = '5. Peter Jackson'

In [ ]:
data_23 = df.copy()
data_23 = data_23[data_23['month'].isin([12,1,2])] #выбираю все зимние фильмы
data_23['director'] = data_23.director.str.split('|') #Разбиваю режисеров по принципу 1 строка - 1 запись
data_23 = data_23.explode('director')
grouped_df_23 = data_23.groupby(['director'])['imdb_id'].count().sort_values(ascending=False) #Группирую датасет по режисерам, подсчитываю кол-во фильмов для каждого режисера
display(grouped_df_23.head(1))

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
answers['24'] = '5. Four By Two Productions'

In [ ]:
data_24 = df.copy()
data_24['length'] = data_24['original_title'].str.len() #вычисляю кол-во символов в каждом названии, вписываю в новую колонку
data_24['production_companies'] = data_24.production_companies.str.split('|') #Разбиваю производителей по принципу 1 строка - 1 запись
data_24 = data_24.explode('production_companies')
grouped_df_24 = data_24.groupby(['production_companies'])['length'].mean().sort_values(ascending=False) #Группирую по производителям, нахожу среднюю длину для каждой группы
display(grouped_df_24.head(1))

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
answers['25'] = '3. Midnight Picture Show'

In [ ]:
data_25 = df.copy()
data_25['totalwords'] = data_25['overview'].str.count(' ') + 1 #Ввожу колонку кол-во слов, по принципу кол-во слов = кол-во пробелов + 1
data_25['production_companies'] = data_25.production_companies.str.split('|') #Разбиваю производителей по принципу 1 строка - 1 запись
data_25 = data_25.explode('production_companies')
grouped_df_25 = data_25.groupby(['production_companies'])['totalwords'].mean().sort_values(ascending=False) #Группирую по производителям, среднее кол-во слов для каждой группы
display(grouped_df_25.head(1))

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [ ]:
data_26 = df.copy()
display(data_26.loc[data_26['vote_average']>data_26.quantile(0.99, numeric_only=True)['vote_average']]['original_title']) #Использовался квантиль 0.99, так как нам нужен оставшийся 1% 
#Воспользовалась решением и разбором в группе.

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [ ]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint верно'

In [ ]:
data27 = df.copy()
data27 = data27[['cast']]
data27['cast'] = data27.cast.str.split('|') #Разбиваем всех актеров по одному
data27['pairs'] = data27.cast.apply(lambda p: list(combinations(p, 2))) #составляю комбинации по два
flattened = [item for sublist in data27['pairs'].values for item in sublist] #Собираю список списков в один.
counter27 = Counter(flattened) 
print(counter27.most_common(2))
#Воспользовалась решением и разбором в группе

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)